* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "OswaldBold";
  src: url("./fonts/Oswald-Bold.ttf");
}
@font-face {
  font-family: "OswaldSemi";
  src: url("./fonts/Oswald-SemiBold.ttf");
}
@font-face {
  font-family: "OswaldRegular";
  src: url("./fonts/Oswald-Regular.ttf");
}
@font-face {
  font-family: "GothamBook";
  src: url("./fonts/Gotham-Book.otf");
}


:root {
  --dark: #313131;
  --section-title: #4F4F4F;
  --dark-placeholder: #4a4a4a4a;
  --light-placeholder: #e1e1e1;
  --oswald-semi: "OswaldSemi", sans-serif;
  --oswald-bold: "OswaldBold", sans-serif;
  --oswald-regular: "OswaldRegular", sans-serif;
  --gotham: "GothamBook", sans-serif;
}
body {
  scroll-behavior: smooth;
}

#clients, #links, #bio, #contact {
  background-color: #fff;
  animation: fadeIn .4s ease-in;
  
}

#portfolio, #home, #portfolio__single {
  background-color: var(--dark);
  animation: fadeIn .4s ease-in;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loader {
  position: fixed;
  width: 100%;
  background-color: transparent;
  z-index: 100;
}
.loader--bar {
  height: 4px;
  background-color: #ffffff;
  width: 1%;
}

/*===HOME===*/

.intro__wrapper {
  position: fixed;
  display: flex;
  background-color: var(--dark);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 99;
  transition: opacity 1s linear;
}

.intro__title {
  color: white;
  font-size: 36px;
  text-transform: uppercase;
  animation: fadeIn 0.4s linear;
}

.intro__title--link {
  text-decoration: none;
  color: #fff;
}

/*==== HOME ====*/
#home {
  overflow: hidden;
}
.home__background {
  background-color: var(--dark);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  animation: fadeIn 0.4s linear;
}


/*==== HAMBURGER MENU ====*/
.hamburger__wrapper {
  height: 16px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hamburger__checker {
  opacity: 0;
  width: 100%;
  /* height: 100%; */
  position: absolute;
  z-index: 100;
  cursor: pointer;

}

.hamburger__lines {
  width: 25px;
  height: 25px;
  background-image: url('./img/Menu_white.svg');
  position: relative;
  transition: all 0.4s ease;
  z-index: 99;
  background-repeat: no-repeat;
}

.hamburger__checker:checked ~ .hamburger__lines {
  position: fixed;
}

.hamburger__checker:checked {
  position: fixed;
}

.hamburger__checker:checked ~ .hamburger__lines {
  background-image: url("./img/Menu_X_close.svg");
}


/*==== MENU ====*/

.nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 118px;
  padding: 46px 24px;
  z-index: 1;
  align-items: center;
}

.nav__logo {
  animation: fadeIn 0.3s ease;
  z-index: 1;
}

.nav__menu {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  min-width: 100%;
  position: fixed;
  top: 0;
  right: -1000px;
  display: flex;
  justify-content: flex-end;
  padding-top: 100px;
  padding-right: 24px;
  transition: right 0.6s ease-out;
}
.nav__menu--list {
  list-style: none;
  color: #fff;
  margin-top: 35px;
}
.nav__menu--list__item {
  font-size: 24px;
  font-family: var(--oswald-bold);
  text-transform: uppercase;
  text-align: right;
  line-height: 1;
  transition: color 0.3s linear;
}

.list__item--link {
  text-decoration: none;
  color: inherit;
}

.nav__menu--list__item:hover {
  color: #929292;
}

.hamburger__checker:checked ~ .nav__menu {
  right: 0;
}

/*==== PORTFOLIO ====*/

.portfolio__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 118px 24px 60px 24px;
}

.portfolio__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 5px;
  width: 100%;
  z-index: 0;
  animation: fadeIn .4s ease;
}

@media(max-width: 1280px) {
  .portfolio__grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.portfolio__img--wrapper {
  background: var(--dark);
  display: grid;
  place-items: center;
  position: relative;
  text-decoration: none;
}


.portfolio__img {
  width: 100%;
  height: 429px;
  object-fit: cover;
}

.img__title {
  align-self: center;
  justify-self: center;
  margin: 10px 0 30px 0;
  color: #fff;
  z-index: 90;
  transition: opacity .4s ease-in;
  /* text-transform: uppercase; */
  font-size: 16px;
  line-height: 20px;
  font-family: var(--oswald-semi);
  display: flex;
}

.img__title--description{
  font-family: var(--oswald-semi);

}
.img__title--categorie{
  font-family: var(--oswald-semi);
  text-transform: uppercase;
margin-right: 10px;
}

.back__to__top--wrapper {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.back__to__top--button {
  font-size: 24px;
  font-family: var(--oswald-bold);
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  text-align: center;
  position: relative;
}

.back__to__top--button::before {
  content: "";
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  height: 2px;
  background-color: #fff;
  position: absolute;
}

.back__to__top--button .chevron {
  opacity: 1;
  margin: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;

}

.back__to__top--button--dark {
  color: #000;
}

.back__to__top--button--dark.back__to__top--button::before{
  background-color: #000;
}
/*==== PORTFOLIO SINGLE ====*/

.portfolio__single--img {
  width: 100%;
  height: 429px;
  object-fit: cover;
}

/*==== CLIENTS ====*/

.hamburger__lines--dark {
  background-image: url("./img/Menu_black.svg");
}

.info__wrapper {
  padding: 164px 0 40px 0;
  width: 100%;
  height: 100%;
}
.info__img--placeholder {
  width: 100%;
  height: 100%;
  background-color:var(--dark-placeholder);
}

.content__wrapper {
  width: 100%;
}

.info__content {
padding: 0 24px;
width: 100%;
height: 100%;
overflow-y: scroll;
font-family: var(--gotham);
font-size: 16px;
}
.content__list {
  list-style: none;
  margin-top: 35px;
}

.section__title {
  color: var(--section-title);
  text-transform: uppercase;
  font-family: var(--oswald-bold);
  font-size: 24px;
}

.content__list--item {
  color: var(--dark);
}

/*==== LINKS ====*/

.content__list--link {
  font-style: none;
  text-decoration: none;
  color: #000;
  transition: color .3s ease;
}
.content__list--link:hover {
  color: #B4B4B4;
}

/*==== BIO ====*/

.bio__content--wrapper {
  padding: 0 34px;
  font-family: var(--gotham);
  margin: 30px 0 50px 0;
}

.info__img{
  width: 100%;
  height: 100%;
  
  object-fit: cover;
  object-position: center top;
  position: relative;
  height: 375px;
  display: block;
  animation: fadeIn .4s ease;
}

.bio__img--carter {
  background-image: url("./img/sections/bio-carter.jpg");
  animation: fadeIn .4s ease;
}

.bio__img--nikki {
  background-image: url("./img/sections/bio-nikki.jpg");
  animation: fadeIn .4s ease;
}

.bio__title--wrapper {
  position: relative;
  padding: 0 24px 20px 24px ;
}

.chevron {
  background-image: url(./img/button_arrow.svg);
  background-position: center;
  background-size: cover;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 0 5px 3px 0;
  opacity: 0;
}

.bio__title {
  font-family: var(--oswald-bold);
  font-size: 24px;
  color: #929292;
  text-transform: uppercase;
}

.bio__content {
  margin-top: 15px;
  font-size: 16px;
  animation: fadeIn .7s ease;
  color: #000;
}

/*==== CONTACT ====*/
#contact .nav .nav__logo {
 position: relative;
 z-index: -1;
}

#contact iframe {
  animation: fadeIn .4s ease-in;

  transition: 0.3s ease-out;
}

.info__img--contact {
  background-image: url("./img/sections/clients.jpg");
}

#contact .info__img--placeholder {
  background-color: initial;
}
.contact__info {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact__info p {
  font-size: 16px;
  color: #000;
}

.contact__info p:nth-child(1) {
  text-transform: uppercase; 
}

.contact__info p:nth-child(4) {
  margin-bottom: 20px;  
  text-decoration: none;
  color: inherit;
}
.contact__info p:nth-child(4) a {
 
  text-decoration: none;
  color: inherit;
}
.contact__info p:nth-child(5):hover, .contact__info p:nth-child(6):hover,  .contact__info p:nth-child(4):hover{
  cursor: pointer;
  color: var(--hover-color);
} 
.contact__info p:nth-child(5) a, .contact__info p:nth-child(6) a {
  text-decoration: none;
  color: inherit;
} 
.soc__links {
  margin-top: 20px;
}

.soc__links--link {
  text-decoration: none;
}

.soc__links--linkedin {
  background-image: url("./img/linkedin.png");
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

.contact__form--wrapper {
  display: flex;
  flex-direction: column ;
  width: 214px;
  position: relative;
}

.contact__form--title {
  text-transform: uppercase;
  font-size: 12px;
  color: #484848;
}

.contact__form--wrapper > * {
  margin-bottom: 8px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  color: #B1B1B1;
}

.contact__form--wrapper input::placeholder {
  color: #B1B1B1;
  font-size: 12px;
  font-family: var(--gotham);
}

.contact__form--wrapper input {
  padding: 5px 5px 5px 0 ;
  border-color: #B1B1B1;
  color: #000;
}

.contact__form--wrapper input:focus {
  outline: none;
  border-bottom: 2px solid #000;
}



.error#email::placeholder {
  color: #FF0000;
}

.contact__form--button {
  border: 0;
  background-color: transparent ;
  width: 214px;
  font-size: 24px;
  text-align: left;
  position: relative;
  font-family: var(--oswald-bold);
  text-transform: uppercase;
  margin-left: 15px;
  opacity: 1;
  transition: all .4 linear;
}

.contact__form--button .chevron {
  position: absolute;
  opacity: .2;
  left: -15px;
  top: 52%;
  transform: translateY(-50%);
}

.contact__form--button:disabled {
  color: #E8E8E8;
}
.contact__form--button {
  color: var(--section-title);
  }
.contact__form--button:disabled .chevron {
  position: absolute;
  opacity: .2;
  left: -15px;
  top: 52%;
  transform: translateY(-50%);
}

.contact__form--button .chevron {
    opacity: 1;
  }

.contact__form--button:disabled .chevron {
  opacity: .2;

}

.thank__you--message {
  cursor: initial;
  visibility: hidden;
  color: #4F4F4F;
  font-family: var(--oswald-bold);
  font-size: 24px;
  opacity: 1;
  transition: all .3s linear;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
}
.thank__you--message.show {
  visibility: visible;
  transition: all .3s linear;
}

.contact__form--button.no-show {
  visibility: hidden;
  opacity: 0;
  transition: all .3s linear;
}

#map {
  height: 375px ;
  width: 100%;
}

